---
layout: home-page
title: About
permalink: /about/
---
<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">

      
      <p>Las estad&iacute;sticas disponibles sobre migraci&oacute;n interna en Bolivia revelan una elevada movilidad de las personas entre regiones, entre departamentos y entre municipios. Por ejemplo, m&aacute;s 1.3 millones de personas cambiaron de residencia de un departamento a otro en el periodo 2007 a 2012 seg&uacute;n informaci&oacute;n del &uacute;ltimo censo de poblaci&oacute;n y vivienda. Las tasas de migraci&oacute;n neta inter municipal sugieren grandes variaciones en la movilidad observada a nivel local. Existen municipios &ldquo;grandes&rdquo; como Santa Cruz de la Sierra que recibieron hasta 89 mil personas de otros municipios durante este periodo, as&iacute; como, existen municipios &ldquo;peque&ntilde;os&rdquo; que recibieron menos de 10 personas.</p>
<p>En cambio, existen otros municipios que se habr&iacute;an convertido en &ldquo;expulsores&rdquo; de poblaci&oacute;n. Entre las ciudades capitales que cuentan con m&aacute;s emigrantes, destaca el municipio de La Paz cuyo volumen de personas que &ldquo;salieron&rdquo; sobre pas&oacute; las 69 mil lo que equivale a un 40% del total de su poblaci&oacute;n. Como es de esperar, la salida de personas es m&aacute;s notoria en los territorios peque&ntilde;os en los cuales la poblaci&oacute;n emigrante puede llegar a representar hasta el 100% de su poblaci&oacute;n total.</p>
<p>A pesar de la evidencia respecto a la magnitud de estos movimientos, es poco lo que se conoce sobre el origen y las causas de la migraci&oacute;n interna. De manera particular, resulta de inter&eacute;s determinar hasta qu&eacute; punto las migraciones se deben a decisiones de las personas lo que refuerza su derecho a migrar y determinar. Alternativamente, se debe determinar bajo qu&eacute; circunstancias la migraci&oacute;n podr&iacute;a resultar de factores ajenos a la voluntad de las personas resultando en una suerte de &ldquo;migraci&oacute;n forzada&rdquo;. En el contexto del presente estudio, interesa determinar cu&aacute;ndo y bajo qu&eacute; circunstancias los fen&oacute;menos asociados al cambio clim&aacute;tico podr&iacute;an estar influyendo en dicha decisi&oacute;n.</p>
<p>El estudio responde a dos problemas fundamentales. Por un lado, existen poblaciones pobres en situaci&oacute;n de extrema <strong>vulnerabilidad</strong>por su exposici&oacute;n a un conjunto de amenazas clim&aacute;ticas que incluyen, principalmente, sequ&iacute;a, granizadas y heladas. Por otro, existe una <strong>d&eacute;bil</strong><strong>capacidad de respuesta</strong>de las instituciones (municipios y comunidades organizadas) a nivel local. Ambos fen&oacute;menos &ndash; elevada vulnerabilidad y reducida capacidad de respuesta &ndash; estar&iacute;an generando un flujo de emigrantes que va m&aacute;s all&aacute; de la &ldquo;tendencia natural&rdquo;. En concreto, los efectos del cambio clim&aacute;tico estar&iacute;an determinando una suerte de &ldquo;expulsi&oacute;n&rdquo; de las poblaciones afectadas desde sus lugares de origen, un fen&oacute;meno que ir&iacute;a m&aacute;s all&aacute; de su capacidad de &ldquo;decidir&rdquo; migrar.</p>
<p>Seis municipios en tierras altas fueron identificados como prioritarios en t&eacute;rminos de investigaci&oacute;n y acci&oacute;n. Estos son: Caquiaviri (La Paz); Santiago de Callapa (La Paz); Curahuara de Carangas (Oruro); Santiago de Huari (Oruro); Tomave (Potos&iacute;) y San Pablo de L&iacute;pez (Potos&iacute;). Se sugiere que las poblaciones en estas regiones tendr&iacute;an caracter&iacute;sticas de marcada ruralidad y pertenencia a grupos &eacute;tnicos originarios.</p>
<p>A pesar de tener patrones comunes, los municipios seleccionados presentan <strong>diferentes tendencias de migraci&oacute;n reciente</strong>. Como se observa en los datos expuestos en los t&eacute;rminos de referencia, tres de ellos (Caquiaviri, Santiago de Callapa y Tomave) presentan tasas de migraci&oacute;n neta negativas lo que sugiere que son lugares de &ldquo;expulsi&oacute;n&rdquo; mientras que los otros tres registran tasas positivas lo que sugiere que ser&iacute;an, principalmente, &ldquo;receptores&rdquo; de poblaci&oacute;n. Comprender las din&aacute;micas de cada regi&oacute;n puede resultar de utilidad para la formulaci&oacute;n de pol&iacute;ticas dirigidas a gestionar la migraci&oacute;n.</p>
<p>El Estudio requerido contribuye a caracterizar la relaci&oacute;n entre migraci&oacute;n y cambio clim&aacute;tico en estas zonas e identificar las pol&iacute;ticas m&aacute;s efectivas en t&eacute;rminos de reducir la &ldquo;migraci&oacute;n forzosa&rdquo; que se explica por efectos del cambio clim&aacute;tico. Esta definici&oacute;n se inscribe dentro de la normativa vigente para la definici&oacute;n de planes sectoriales (en el caso de medio ambiente) y planes multisectoriales (en el caso de la migraci&oacute;n) as&iacute; como dentro de la Ley 602 de Gesti&oacute;n de Riesgos.</p>

      <div>
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
      </div>

            <div>
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
      </div>

    </section>
    <section class="about-body">
      <ul class="contact-list">
      {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% else %}
        <li class="email"><a href="mailto:example.adam@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.phone %}
        <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i></a></li>
      {% else %}
        <li class="phone"><a href="tel:044 825 5523"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.website %}
        <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
      {% else %}
        <li class="website"><a href="https://artemsheludko.github.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.github %}
        <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% else %}
        <li class="github"><a href="http://github.com/artemsheludko" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.twitter %}
        <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% else %}
        <li class="twitter"><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.facebook %}
        <li class="facebook"><a href="https://facebook.com/{{site.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
      {% else %}
        <li class="facebook"><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      {% endif %}

      </ul>
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
